* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #222;
}
.input {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  top: 0;
  margin-top: 20px;
  position: relative;

  & > input {
    margin-bottom: 6px;
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    background: #222;
    color: #fff;
    border: 2px solid #fff;
  }
  & > textarea {
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    resize: none;
    color: #fff;
    background: #222;
    border: 2px solid #fff;
  }
  .btn {
    width: 100%;
    height: 34px;
    margin-top: 6px;
    cursor: pointer;
    font-weight: 500;
    background: #222;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    transition: 0.3s;

    &:hover {
      background: rgb(30, 30, 30);
    }
  }
}
.container {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  padding: 20px;

  .note-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 2px;
    padding: 8px;
    max-width: 570px;
    min-width: 430px;

    .header {
      font-size: 19px;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .description {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.8);
      flex: 1;
      word-wrap: break-word;
    }
    .date-time {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      font-weight: 500;
      font-size: 12px;

      .time {
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 910px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .input {
    width: 580px;
    padding: 0px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px auto;
    align-items: center;

    .note-container {
      width: 540px;
    }
  }
}
